<div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="/admin">
                    <i class="icon-home"></i>
                    <span>主页</span>
                </a>
            </li>            
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>用户管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/admin/user-list?numpage=1">用户列表</a></li>
                    <li><a href="/admin/add-user" id="adduser">添加用户</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-shopping-cart"></i>
                    <span>商品管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/admin/shop-list">商品列表</a></li>
                    <li><a href="/admin/add-shop" id="addshop">添加商品</a></li>
                </ul>
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-group"></i>
                    <span>客服管理</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/admin/cs-list">客服列表</a></li>
                    <li><a href="/admin/add-cs" id="addcs">添加客服</a></li>
                </ul>
            </li>
        </ul>
    </div>
    