<!DOCTYPE html>
<html class="login-bg">
<head>
	<title>注册</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
    <!-- bootstrap -->
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="/css/icons.css" />

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="/css/lib/font-awesome.css" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/css/compiled/signup.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>
    <div class="header">
        <a href="index.html">
            <img src="/img/logo.png" class="logo" style="padding:10px 0;"/>
        </a>
    </div>
    <div class="row-fluid login-wrapper">
        <div class="box">
            <div class="content-wrap">
                <h6>注册</h6>
                <form>
                    <input class="span12" id="realn" name="realname" type="text" placeholder="设置您的姓名" />
                    <input class="span12" id="idd" name="id" type="text" placeholder="设置您的账号" />
                    <input class="span12" id="pw" name="pwd" type="password" placeholder="设置您的密码" />
                    <input class="span12" id="confirm_p" name="confirm_pwd" type="password" placeholder="确认密码" />
                    <div class="action">
                        <button type="submit" class="btn-glow primary signup">注册</button>
                    </div>  
                </form>
            </div>
        </div>

        <div class="span4 already">
            <p>已经有账号？</p>
            <a href="/admin/signin">登录</a>
        </div>
    </div>

	<!-- scripts -->
    <script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/theme.js"></script>
    <script src="/js/layer.js"></script>
    <script src="/js/js_signup.js"></script>
</body>
</html>